fastapi
uvicorn[standard]
python-multipart
python-dotenv
requests
apify-client
chromadb
langchain-chroma
langchain-huggingface
langchain-core
pypdf
python-docx
pydantic
langgraph
langchain-mcp-adapters
langchain-nvidia-ai-endpoints
sendgrid

