fastapi
uvicorn[standard]
python-multipart
python-dotenv
requests
apify-client
chromadb
langchain-chroma
langchain-huggingface
langchain-core
sentence-transformers
pypdf
python-docx
google-auth
google-auth-oauthlib
google-api-python-client
pydantic
langgraph
langchain-mcp-adapters
langchain-nvidia-ai-endpoints
